<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1><%= title %></h1>
      <p>Enter Product Name or Price</p>
      <form class="form" method="post">
      
        <div class="form-group">
          <label for="NameTextField">Product Name</label>
          <input
            type="text"
            class="form-control"
            id="NameTextField"
            placeholder="Product name"
            name="name"
            
          />
        </div>

      
        <div class="form-group">
          <label for="PriceTextField">Price</label>
          <input
            type="text"
            class="form-control"
            id="PriceTextField"
            placeholder="Product Price"
            name="price"
            
          />
        </div>


          <button class="btn btn-primary" type="button" onclick="deleteClick()">
            <i class="fa fa-trash"></i>Delete
          </button>

        <a href="/products" class="btn btn-warning"
          ><i class="fa fa-undo"></i> Cancel</a
        >

        <script>
            function deleteClick() {
                if(NameTextField.value == "" && PriceTextField.value == ""){
                    alert("Please enter a Value");
                }
                else{
                    document.forms[0].submit();
                }
            }
        </script>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>
